body
{
	margin: 0;
	padding: 0;
	background: url(508276.png);
	background-size: cover;
	font-family: Cooper Black;
}
.title
{
	text-align: center;
	padding: 50px 0 20px 0;
	color: #fff;

}
.title h1
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
}
.container
{
	width: 50%;
	height: 400px;
	background: #fff;
	margin: 0 auto;
	border: 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5); 
}
.container .left
{
	float: left;
	width: 50%;
	height: 400px;
	background: url(60172.jpg);
	background-size: contain;
	box-sizing: border-box;
}
.container .right
{
	float: right;
	box-sizing: border-box;
	width: 50%;
	height: 400px;
}
.formBox
{
	width: 100%;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 400px;
	background: #999;
}
.formBox p
{
	
	font-weight: bold;
	
}
.formBox input[type="text"],
.formBox input[type="password"]
{
	border: none;
	border-bottom: 5px solid #777;
	outline: none;
	height: 40px;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus
{
		border-bottom: 5px solid #262626;

}

.formBox input[type="text"]:hover,
.formBox input[type="password"]:hover
{
		border-bottom: 5px solid #262626;

}
.formBox input
{
	width: 100%;
	background-color: #999;
	color:#fff;
}
.formBox input[type="submit"]
{
	margin-top: 20px;
	cursor: pointer;
	background-color: #262626;
	color: #fff; 
	height: 40px;
	font-weight: bold;
}
.formBox input[type="submit"]:hover
{
	background: #fff;
	color:#262626;
}
.formBox a
{
	color: #262626;
	font-weight: bold;
}